NEXT_PUBLIC_SUPABASE_URL=https://gewmnvmdoejgzzwnrylm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdld21udm1kb2VqZ3p6d25yeWxtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyNjg3MDAsImV4cCI6MjA4OTg0NDcwMH0.QItT-AVryemzDXmpHUKKC0qj-SgeF6o13o67Aeqh2MM"
SUPABASE_SERVICE_ROLE_KEY="your-service-role-key-here"

NEXT_PUBLIC_WHATSAPP_NUMBER="923132204483"

ADMIN_USERNAME="admin"
ADMIN_PASSWORD="travel2026"
