NEXT_PUBLIC_SUPABASE_URL=https://gewmnvmdoejgzzwnrylm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdld21udm1kb2VqZ3p6d25yeWxtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyNjg3MDAsImV4cCI6MjA4OTg0NDcwMH0.QItT-AVryemzDXmpHUKKC0qj-SgeF6o13o67Aeqh2MM"

ADMIN_USER="admin"
ADMIN_PASS="travel2026"
